#table{
border: 1px solid #000;


}
#table td{
   width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 12px; 
border: 1px solid #000;
}
#table th {
  text-align: center;
  font-weight: bold;
border: 1px solid #000;
}
